---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}


body {
  background-color: #fff;
}

.drop-shadow {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.dark-blue {
  color: var(--color-blue);
}

.grid-box {
  width: 100%;
}
