.desktop-nav {
  display: none;
}

.pos {
  top:15px;
  position:absolute;
}

.size {
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 25em) {

  .pos {
    top: -3px;
  }

}

@media only screen and (min-width: 38em) {

  .desktop-nav{
    display: inline-block;
  }

  .pos {
    display: none;
    top: 25px;
  }

  .mobile-nav {
    display: none;
  }
}

@media only screen and (min-width: 60em) {

  .desktop-nav{
    display: inline-block;
  }

  .pos {
    top:10px;
    display: none;
  }

  .mobile-nav {
    display: none;
  }

}
