nav li a {
  text-decoration: none;
  color: var(--color-lightblue);
}

li a:hover {
  color: #000;
}

.nav-open
.nav-close {
  fill: var(--color-primary);
}

.nav-box{
  background-color: var(--color-lightblue);
}

focus:active {
  padding-bottom: .2em;
  border-bottom: solid 3px var(--color-lightblue);
}

label {
  vertical-align: top;
}

.nav-1 {
  top: 50px;
  background-color: var(--color-primary);
  display: none;
  width: 100%;
}

.nav-check{
  position: absolute;
  top: -4%;
}

.nav-check:checked ~ .nav-1 {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.text-decoration {
  color: var(--color-lightblue);
}

.decoration {
  text-decoration: none;
  list-style: none;
  color: var(--color-lightblue);
}

.logo-icon {
  width: 30px;
}

.title {
  display: none;
}

@media only screen and (min-width: 38em) {

  .title {
    display: inline-block;
  }

}
