<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico">

</head>
<body>
  <header class="masthead" role="banner">
    {% pattern header/mobile_nav %}
    <header class="grid grid-middle header-colour drop-shadow desktop-nav">
      <div class="unit xs-1-2 s-1-2 m-1-2 gutter pad-t-1-2 pad-b-1-2 text-left">
        <a href="/">
          <img class="logo pad-t-1-2 gutter-1-2" src="/images/svg/logo.svg"/>
        </a>
      </div>

      <div class="unit xs-1-2 s-1-2 m-1-2 gutter pad-t-1-2 pad-b-1-2 text-left">
        <h4 class="push-0 bold">Today</h4>
      </div>
    </header>
  </header>

  <main role="main" id="main">
    {{content}}
  </main>
</body>
</html>
