.nav-bckd {
  background-color: var(--color-blue);
  min-height: calc(100vh - 4em);
}

.nav-user {
  background-color: var(--color-green);
}

.link-white {
  color: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.link-white:hover {
  color: white;
  background-color: var(--color-green);
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.margin-t-4 {
  margin-top: 5.2rem;
}
